---
import type { Playlist } from "@/lib/data";
import { CardPlayButton } from "@/components/CardPlayButton";

interface Props {
  playlist: Playlist;
}
const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;
const artistString = artists.join(", ");
---

<div
  class="group relative rounded-md hover:bg-zinc-500 shadow-lg hover:shadow-xl bg-zing-500/30"
>
  <div
    class=`absolute right-4 bottom-20 translate-y-4
    transition-all duration-500 opacity-0
    group-hover:translate-y-0 group-hover:opacity-100
    z-10
  `
  >
    <CardPlayButton client:visible id={id} />
  </div>
  <a
    href={`/playlist/${id}`}
    class="playlist-item transition-all duration-300 flex relative p-2 overflow-hidden items-center gap-2 pb-6 w-44 flex-col"
    transition:name=`playlist ${id} box`
  >
    <picture class="aspect-square w-full h-auto flex-none">
      <img
        src={cover}
        alt={`Cover of ${title} by ${artistString}`}
        class="object-cover w-full h-full rounded-md"
        transition:name=`playlist ${id} image`
      />
    </picture>
    <div class="flex flex-auto flex-col px-2">
      <h4
        class="text-white font-semibold text-sm"
        transition:name=`playlists ${id}`
      >
        {title}
      </h4>
      <p class="text-gray-400 text-xs" transition:name=`playlist ${id} artists`>
        {artistString}
      </p>
    </div>
  </a>
</div>
